
body{
    background-color: #ece6dc;
    margin: 0%;
    border: 0%;
    padding: 0%;
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

aside{
    background-color:  #F9F3EC;
    position: relative;
}

.grid2{
    position: relative;
}

.head{
    text-align: center;
}

.l2{
    list-style: square;
    padding: 5px;
}

.text{
    font-family: 'Nunito', sans-serif;
    color: #438591;
}

h2{
    text-align: center;
}

.ul1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.l1{
    padding: 15px;
    text-align: right;
    list-style: none;
}

.t2{
    color: lightslategray;
}

textarea::placeholder{
    font-size: 18px;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif
}

#notebox{
    margin: 15px;
    width: 97%;
    height: 250px;
    background-color: #FAF9F8;
    border-radius: 3px;
    border-width: 3px;
    border-color: #7DC8D5;
    font-size: 18px;
    resize: none;
}

.button1{
    width: 90px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
    border-style: none;
    background-color: #5394A0;
    color: white;
}

.button2{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
    float: right;
    border-style: none;
    background-color: #6F6A87;
    color: white;
}

.buttons{
    display:flex;
    justify-content: end;
}

.button3{
    width: 60px;
    height: 50px;
    border-radius: 15px;
    margin: 10px;
    border-style: none;
    color: white;
    background-color:#5394A0;;
}

.button4{
    width: 80px;
    height: 50px;
    border-radius: 15px;
    margin: 10px;
    margin-right: 20px;
    border-style: none;
    background-color: rgb(211, 99, 99);
    color: white;
}

footer{
    text-align: center;
    font-size: 20px;
}
